<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="home-content"> 
    <div class="d-flex justify-content-center">
        <div>
            <div class="logo">B</div>
        </div>
    </div>   
    <div class="d-flex justify-content-center">
        <p class="my-label">BLAZE KITCHEN</p>
    </div>
 
    <div class="centered d-flex justify-content-center">
        <nav>
            <ul class="nav navs navs2">
                <li><a>HOME</a></li>
                <li><a routerLink="/about-us">ABOUT US</a></li>

                <li><a routerLink="/articles">ARTICLES</a></li>
                <li><a href="#">CAREER</a></li>
                <li><a href="#">CAREERs</a></li>
                <li><a href="#">CONTACT </a></li>
                <li><a routerLink="/our-menu">OUR MENU </a></li>
               
            </ul>            
        </nav>
    </div>
    <div class="_content">
        <p>A Wide range of recipes for you</p>
        <p class="recipes">DELICIOUS RECIPES</p>
        <i>"Food May Be Essential as fuel to the body,<br>
            But Good Food is fuel for the Soul"-Malcolm Forbes</i><br>
        <div class="btn">Check Our Menu</div>
    </div>
    
</div> 
<!-- end of home page -->



<!-- end of  cusine page -->

<!-- ------------------------------------------------------- -->


